/* so you can make your own classes in taliwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

.skeletonR {
  background-color: #e0e0e0; /* Light gray color */
  animation: skeleton-loading 1.5s infinite ease-in-out, pulse 2s infinite alternate;
}

@keyframes skeletonR-loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f5f5f5;
  }
  100% {
    background-color: #e0e0e0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}
